@font-face {
  font-family: 'Prompt';
  src: url('/fonts/SukhumvitSet-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Prompt', sans-serif;
}